{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
   <title>Forgot Password - Yellow Banyan</title>
   <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon/favicon.ico' %}" />
   <link href="{% static 'assets/libs/bootstrap-icons/font/bootstrap-icons.min.css' %}" rel="stylesheet" />
   <link href="{% static 'assets/libs/feather-webfont/dist/feather-icons.css' %}" rel="stylesheet" />
   <link href="{% static 'assets/libs/simplebar/dist/simplebar.min.css' %}" rel="stylesheet" />
   <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}" />
</head>

<body>
   <div class="border-bottom shadow-sm">
      <nav class="navbar navbar-light py-2">
         <div class="container justify-content-center justify-content-lg-between">
            <a class="navbar-brand" href="{% url 'index' %}">
               <img src="{% static '/assets/images/logo/yellow-banyan-logo.png' %}" alt=""
                  class="d-inline-block align-text-top" />
            </a>
            <span class="navbar-text">
               Remember your password?
               <a href="{% url 'userlogin' %}">Sign in</a>
            </span>
         </div>
      </nav>
   </div>

   <main>
      <section class="my-lg-14 my-8">
         <div class="container">
            <div class="row justify-content-center align-items-center">
               <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
                  <img src="{% static '/assets/images/svg-graphics/fp-g.svg' %}" alt="" class="img-fluid" />
               </div>
               <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1 d-flex align-items-center">
                  <div>
                     <div class="mb-lg-9 mb-5">
                        <h1 class="mb-2 h2 fw-bold">Forgot your password?</h1>
                        <p>Please enter the email address associated with your account and we will email you an OTP to
                           reset your password.</p>
                     </div>

                     {% if messages %}
                     {% for message in messages %}
                     <div
                        class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show"
                        role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                     </div>
                     {% endfor %}
                     {% endif %}

                     <form class="needs-validation" method="post" action="{% url 'user-forgot-password' %}" novalidate>
                        {% csrf_token %}
                        <div class="row g-3">
                           <div class="col-12">
                              <label for="formForgetEmail" class="form-label visually-hidden">Email address</label>
                              <input type="email" class="form-control" id="formForgetEmail" name="email"
                                 placeholder="Email" required />
                              <div class="invalid-feedback">Please enter a valid email address.</div>
                           </div>
                           <div class="col-12 d-grid gap-2">
                              <button type="submit" class="btn btn-primary">Reset Password</button>
                              <a href="{% url 'userlogin' %}" class="btn btn-light">Back to Login</a>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </main>

   <script src="{% static '/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static '/assets/libs/simplebar/dist/simplebar.min.js' %}"></script>
   <script src="{% static '/assets/js/theme.min.js' %}"></script>
   <script src="{% static '/assets/js/vendors/validation.js' %}"></script>
   <script>
      setTimeout(() => {
         document.querySelectorAll('.alert').forEach(el => {
            let fade = new bootstrap.Alert(el);
            fade.close();
         });
      }, 4000);
   </script>
</body>

</html>
