{% extends "base.html" %}
{% load static %}
{% block title %}Categories - {% endblock %}
{% block content %}

<!-- main -->
<main class="main-content-wrapper">
	<div class="container">
		<section class="my-lg-14 my-8">
			<!-- category -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-12">
						<div class="mb-8">
							<!-- heading -->
							<h3 class="mb-0">All Category</h3>
						</div>
					</div>
				</div>
				<!-- row -->
				<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-6 g-6">
					<!-- col -->
                     {% for category in categories %}
					<div class="col">
						<a href="#" class="text-decoration-none text-inherit">
							<!-- card -->
							<div class="card card-product">
								<div class="card-body text-center py-8">
									<!-- img -->
									<img src="/media/{{ category.image }}" alt="{{ category.name }}" class="mb-3" style="width: 100%;" />
									<!-- text -->
									<div class="text-truncate">{{ category.name }}</div>
								</div>
							</div>
						</a>
					</div>
                    {% endfor %}
				</div>
			</div>
		</section>
	</div>
</main>
{% endblock %}